{% extends "base.html" %}

{% load i18n static %}

{% block head %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}

{% block content %}
<div id="calendar"></div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type='text/javascript'>
$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
      events: '/schedule/api/occurrences?calendar_slug=example'
    })
});
</script>
{% endblock %}